/dts-v1/;

/ {
	compatible = "linux,dummy-virt";
	#address-cells = <0x2>;
	#size-cells = <0x2>;

	chosen {
		bootargs = " console=ttyS0 root=/dev/vda rw  console=sbi earlycon=sbi";
		stdout-path = "sbi";
		linux,initrd-start = <0x0 0x853907f8>;
		linux,initrd-end = <0x0 0x87fffff8>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x8000000>;
	};

	cpus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		timebase-frequency = <0x989680>;

		cpu@0 {
			device_type = "cpu";
			compatible = "riscv";
			mmu-type = "riscv,sv48";
			riscv,isa = "rv64imafdcsu";
			reg = <0x0>;
			status = "okay";

			interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <0x1>;
				interrupt-controller;
				phandle = <0x2>;
			};
		};
	};

	smb {
		compatible = "simple-bus";
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		interrupt-parent = <0x1>;
		ranges;

		interrupt-controller@0c000000 {
			compatible = "riscv,plic0";
			reg = <0x0 0xc000000 0x0 0x4000000>;
			#interrupt-cells = <0x1>;
			interrupt-controller;
			riscv,max-priority = <0xf>;
			riscv,ndev = <0x1f>;
			phandle = <0x1>;
			interrupts-extended = <0x2 0xffffffff 0x2 0x9>;
		};

		U6_16550A@3f8 {
			compatible = "ns16550a";
			reg = <0x0 0x3f8 0x0 0x8>;
			interrupts = <0x1>;
			clock-frequency = <0x1c2000>;
		};

		virtio@10000000 {
			compatible = "virtio,mmio";
			reg = <0x00 0x10000000 0x00 0x200>;
			dma-coherent;
			interrupts = <0x2>;
		};

		virtio@10000200 {
			compatible = "virtio,mmio";
			reg = <0x00 0x10000200 0x00 0x200>;
			dma-coherent;
			interrupts = <0x3>;
		};
	};

	aliases {
		serial0 = "/U6_16550A@3f8";
	};
};
